<!DOCTYPE html>
<html>
    <head>
        <title>Temperature Display</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- jQuery library for AJAX -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"
        ></script>
        <style></style>
    </head>
    <body class="m-0 vw-100 max-vw-100">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img
                        src="https://static.thenounproject.com/png/1109534-200.png"
                        width="45"
                        height="45"
                    />
                    Paver Project</a
                >
                <div class="collapse navbar-collapse">
                    <ul
                        class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center"
                    >
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Authors</a>
                        </li>
                        <form class="d-flex">
                            <div class="dropdown">
                                <button
                                    class="btn btn-light btn-sm dropdown-toggle"
                                    type="button"
                                    id="dropdownMenuButton"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    Select Pi ID
                                </button>
                                <ul
                                    class="dropdown-menu"
                                    id="piIdDropdown"
                                    aria-labelledby="dropdownMenuButton"
                                ></ul>
                            </div>
                        </form>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="vw-100 d-flex flex-row justify-content-center">
            <div id="scatter-chart"></div>
        </div>

        <script>
            function updateChart() {
                $.get("/temperature_data", function (response) {
                    var data = response.data;

                    // Extracting x-axis values (timestamps)
                    const xValues = data.map((entry) => entry.timestamp);

                    // Extracting y-axis values for Celsius, Fahrenheit, and Kelvin
                    const yValuesCelsius = data.map((entry) => entry.celsius);
                    const yValuesFahrenheit = data.map(
                        (entry) => entry.fahrenheit,
                    );
                    const yValuesKelvin = data.map((entry) => entry.kelvin);

                    // Define traces for Celsius, Fahrenheit, and Kelvin
                    const traceCelsius = {
                        x: xValues,
                        y: yValuesCelsius,
                        mode: "lines+markers",
                        name: "Temperature (Celsius)",
                    };

                    const traceFahrenheit = {
                        x: xValues,
                        y: yValuesFahrenheit,
                        mode: "lines+markers",
                        name: "Temperature (Fahrenheit)",
                    };

                    const traceKelvin = {
                        x: xValues,
                        y: yValuesKelvin,
                        mode: "lines+markers",
                        name: "Temperature (Kelvin)",
                    };

                    // Create the layout
                    const layout = {
                        title: "Paver Temperature Readings",
                        xaxis: {
                            title: "Time Recorded",
                            tickformat: "%m/%d %I:%M %p",
                        },
                        yaxis: { title: "Temperature" },
                        margin: {
                            l: 100,
                            r: 100,
                            t: 100,
                            b: 100,
                        },
                        autosize: false,
                        width: 1700,
                        height: 850,
                    };

                    // Create the plot
                    Plotly.newPlot(
                        "scatter-chart",
                        [traceCelsius, traceFahrenheit, traceKelvin],
                        layout,
                    );
                });
            }

            function updatePiIds() {
                $.get("/pi-ids", (/** @type {string[]} */ piIds) => {
                    const dropdown = document.getElementById("piIdDropdown");
                    const existingPiIds = new Set();

                    const dropdownItems = dropdown
                        .querySelectorAll(".dropdown-item")
                        .forEach((eachItem) => {
                            existingPiIds.add(eachItem.textContent.trim());
                        });

                    piIds.forEach((eachPiId) => {
                        if (!existingPiIds.has(eachPiId)) {
                            const listItem = document.createElement("li");
                            listItem.innerHTML = `<a class="dropdown-item" data-pi-id="${eachPiId}" href="#" onclick="onPiIdSelected('${eachPiId}')">${eachPiId}</a>`;
                            dropdown.appendChild(listItem);
                        }
                    });
                });
            }

            const onPiIdSelected = (pi_id) => {
                document.querySelectorAll(".dropdown-item").forEach((item) => {
                    item.classList.remove("active");
                });

                const selectedPiId = document.querySelector(
                    `.dropdown-item[data-pi-id="${pi_id}"]`,
                );

                if (selectedPiId !== null) {
                    selectedPiId.classList.add("active");
                }
            };

            updateChart(); // Initial update
            setInterval(updateChart, 6000); // Update chart every minute
            // setInterval(updatePiIds, 450_000); // Update pi ids every 7.5 minutes
            setInterval(updatePiIds, 6000); // FOR DEMO, REMOVE FOR PROD
        </script>
    </body>
</html>
